{% extends 'base.html' %}

{% block header %}

        <div class="card p-2">
        <div class="card-title">
            <h1 class="bg-primary">{{ professional }}</h1>
            {{ professional.register }} / {{ professional.specialty }}
        </div>
    </div>
{% endblock %}

{% block sidebar %}
    {% if patients %}
        <h5>Lista de Pacientes</h5>
    <ol>
        {% for relation in patients %}
            <li>
                <a id="patientNameLink" href="{% url 'base:relation-detail' relation.slug relation.id%}" class="card">{{ relation.patient }}
                   {{ relation.patient.age }} {% if relation.patient.age <= 1 %} ano {% else %} anos {% endif %}
                </a>
            </li>
        {% endfor %}
    </ol>
    {% endif %}
{% endblock %}

{% block content %}
    <div class="container p-3 m-3 text-center" id="mainContentDiv">
        <div class="card-group">
        <div class="card">
            <div class="card-title">
                <a href="">Novo Paciente</a>
            </div>
        </div>
        <div class="card">
        </div>
    </div>
    </div>
{% endblock %}