{% extends 'base.html' %}
{# este template é da página inicial #}

{% block header %}
    <div class="nav-bar">
        <a class=" btn-primary" href="{% url 'base:index' %}"> HOME </a>
    </div>
{% endblock %}

{% block upheader %}
        {% if user %} Você esta logado como {{ user }} {% else %} Você não esta logado. <a href="{% url 'base:login' %}">Fazer Login.</a>{% endif %}
{% endblock %}


{% block sidebar %}

            {% if comercials %}
               <div class="card p-2">
               <div class="card-title h6 bg-primary text-white">
                   Portal do Usuário Comercial
               </div>
               <div class="card-body ul">
                   {% for item in comercials %}
                        <li><a href="{% url 'base:comercial-detail'  item.pk %}">{{ item }}</a></li>
                   {% endfor %}
               </div>
               </div>
            {% endif %}

            {% if enterprises %}
               <div class="card p-2">
               <div class="card-title h6 bg-primary text-white">
                   Portal da Empresa
               </div>
               <div class="card-body ul">
                   {% for item in enterprises %}
                        <li><a href="{% url 'base:enterprise-detail'  item.pk %}">{{ item }}</a></li>
                   {% endfor %}
               </div>
               </div>
            {% endif %}

            {% if employees %}
               <div class="card p-2">
               <div class="card-title h6 bg-primary text-white">
                   Portal do Funcionário
               </div>
               <div class="card-body ul">
                   {% for item in employees %}
                        <li><a href="{% url 'base:employee-detail'  item.pk %}">{{ item }}</a></li>
                   {% endfor %}
               </div>
               </div>
           {% endif %}

           {% if professionals %}
               <div class="card p-2">
               <div class="card-title h6 bg-primary text-white">
                   Portal do Profissional
               </div>
               <div class="card-body ul">
                   {% for professional in professionals %}
                        <li><a href="{% url 'base:professional-detail'  professional.id %}">{{ professional }}</a></li>
                   {% endfor %}
               </div>
               </div>
           {% endif %}

           {% if patients %}
               <div class="card p-2">
               <div class="card-title h6 bg-primary text-white">
                   Portal do Paciente
               </div>
               <div class="card-body ul">
                   {% for item in patients %}
                        <li><a href="{% url 'base:patient-detail'  item.id %}">{{ item }}</a> <input type="submit" class="btn-primary" href="{% url 'care:relation-detail' item.id%}">ÁREA CLÍNICA</li>
                   {% endfor %}
               </div>
               </div>
           {% endif %}
{% endblock %}