{% extends 'base_care.html' %}

{% block subheader %}
{% endblock %}

{% block sidebar %}
    <h2>{{ relation.patient }}</h2>
    <h6 class="bg-primary text-white">PORTAL DO PACIENTE</h6>
    <div class="card">
    <h6> NASCIMENTO: {{ relation.patient.birth_date }} </h6>
    <h6> IDADE: {% if relation.patient.age > 1 %} {{ relation.patient.age }} anos {% else %} {{ relation.patient.age }} ano {% endif %}</h6>
    <h6> ENDEREÇO: {{ relation.patient.full_address }} </h6>
    </div>
{% endblock %}


{% block content %}
    <div class="card">
        <div class="card-title">
            Descrição do Evento
        </div>
        <div class="card-body">
            {{ event.notes }}
        </div>
    </div>

{% endblock %}