{% extends 'base/base_base.html' %}


{% block sidebar %}
{{ relation.patient }}
{% endblock %}

{% block content %}
    <div class="containter" id="contentEventDetail">
    <div class="nav-bar" id="navEventDetail">
        <a href="{% url 'base:event-create'  relation.id %}" class="btn btn-secondary btn-sm" id="buttonCreateEvent"> Novo Evento</a>
    </div>
      {% if events %}
        <ul style="list-style-type: none;">
            {% for event in events %}
            <li>{{ event.age_at_event }} {{ event.event_type }} {{ event.notes }}</li>
            {% endfor %}
        </ul>
        {% else %}
        <h5>Não há eventos registrados.</h5>
        {% endif %}
    </div>
{% endblock %}