{% extends 'care/patient/detail.html' %}


{% block main %}

    <div class="container m-2 p-2 mx-auto" id="mainContainerDiv">
        <form method="post" action="{% url 'care:event-list' %}"> {% csrf_token %}
            <div class="card text-center">
                <div class="card-title">
                    {{ form.relation.label }}
                </div>
                <div class="card-body">
                    {{ form.relation }}

                </div>
            </div>
            <div class="card-group mx-auto">
                <div class="card">
                    <div class="card text-center">
                        <div class="card-title">
                        {{ form.age_at_event.label }}
                        </div>
                        <div class="card-body text-center">
                             {{ form.age_at_event }}
                        </div>
                </div>
                    <div class="card text-center">
                        <div class="card-title">
                            {{ form.event_date.label }}
                        </div>
                        <div class="card-body">
                            {{ form.event_date }}
                        </div>
                </div>
                    <div class="card text-center">
                        <div class="card-title">
                            {{ form.event_type.label }}
                        </div>
                        <div class="card-body">
                        {{ form.event_type }}
                        </div>
                </div>
                </div>
                <div class="card">
                <div class="card-title">
                    {{ form.notes.label }}
                </div>
                <div class="card-body">
                    {{ form.notes }}
                </div>
            </div>
            </div>
        <input type="submit" value="Enviar">
    </form>
    </div>

{% endblock %}