{% extends 'base/base_base.html' %}


{% block sidebar %}
    <h2>{{ relation.patient }}</h2>
    <h6 class="bg-primary text-white">PORTAL DO PACIENTE</h6>
    <div class="card">
    <h6> NASCIMENTO: {{ relation.patient.birth_date }} </h6>
    <h6> IDADE: {% if relation.patient.age > 1 %} {{ relation.patient.age }}
        anos {% else %} {{ relation.patient.age }}
        ano {% endif %}</h6>
    <h6> ENDEREÇO: {{ relation.patient.full_address }} </h6>
    </div>
{% endblock %}

{% block content %}

    <div class="card" id="appointments">
    {% if schedules %}
        <h6>Agendamentos:</h6>
        <ul>
            {% for schedule in schedules %}
                <li>{{ schedule }}</li>
            {% endfor %}
        </ul>
        {% else %}
        <h6>Não há agendamentos.</h6>
    {% endif %}
    </div>

    <div class="card" id="events">
    {% if schedules %}
        <h6>Eventos:</h6>
        <ul style="list-style-type: none;">
            {% for event in events %}
                <li> {% if event.age_at_event > 1 %} {{ event.age_at_event }}
        anos {% else %} {{ event.age_at_event }}
        ano {% endif %} ({{ event.event_type }}) <a href="{% url event.get_absolute_url %}">{{ event.notes }}</a> </li>
            {% endfor %}
        </ul>
        {% else %}
        <h6>Não há eventos registrados.</h6>
    {% endif %}
    </div>

{% endblock %}