<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
              integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <title>{% block title %} Laelia {% endblock title %}</title>
    </head>
    <body id="body" class="m-3">
        <div class="card text-center" id="upheaderCard">
            {% block upheader %}
            {% endblock %}
        </div>
        <div class="card" id="headerCard">
            {% block header %} {# início do header #}
            {% endblock %} {# fim do header #}
        </div>
        <div class="card" id="subheaderCard">
            {% block subheader %}
            {% endblock %}
        </div>
        <div class="card-group" id="mainCard">
            {% block main %} {# início do main #}
            <div class="card col-3" id="sidebarCard">
                {% block sidebar %} {# início do sidebar #}
                {% endblock %} {# final do sidebar #}
            </div>
            <div class="card col-9" id="contentCard">
                {% block content %} {# início do content #}
                {% endblock %} {# final do content #}
            </div>
            {% endblock %} {# final do main #}
        </div>
        {% block java %} {# inicio do java #}
        {% endblock %} {# final do java #}
        {% block bottom %} {# inicio do rodape #}
            <div class="card fixed-bottom">
            <h6>Endereço</h6>
            </div>
        {% endblock %} {# final do rodape #}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    </body>
</html>
